nimcache/
tests/tests

gen/compositions
gen/decompositions
gen/names
gen/properties
gen/types

src/unicodedb/compositions
src/unicodedb/decompositions
src/unicodedb/names
src/unicodedb/properties
src/unicodedb/types

gen/UCD/*
!gen/UCD/UnicodeData.txt
!gen/UCD/DerivedNormalizationProps.txt
!gen/UCD/DerivedCoreProperties.txt
!gen/UCD/PropList.txt

!gen/UCD/extracted
gen/UCD/extracted/*
!gen/UCD/extracted/DerivedBidiClass.txt
!gen/UCD/extracted/DerivedNumericType.txt
