nimcache/
tests/tests

gen/compositions
gen/decompositions
gen/names
gen/properties
gen/types

gen/UCD/*
!gen/UCD/UnicodeData.txt
!gen/UCD/DerivedNormalizationProps.txt
!gen/UCD/DerivedCoreProperties.txt

!gen/UCD/extracted
gen/UCD/extracted/*
!gen/UCD/extracted/DerivedBidiClass.txt
!gen/UCD/extracted/DerivedNumericType.txt
